tbody {
    width: 250%;
    display: block;
}

h1 {
    padding: 20px 15px;
}

h2 {
    padding-bottom: 20px;
}

.table .owned-by
 {
    border: none;
}

.table .modified {
    border: none;
    width: 350px;
}

.table .title {
    border: none;
    width: 530px;
}

.table .owned-by {
    width: 413px;
}

.table .delete {
    border: none;
}

.table .title-head {
    width: 40%;
}

.table .owned-head {
    width: 30%;
}